/* ==UserStyle==
@name           GCI-Fixes
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document url-prefix("https://fullymanaged.service-now.com") {
    * {
        max-width: 100%;
    }
    .modal-lg {
        margin: .5% !important;
        width: 99% !important;
    }
    #email_preview_iframe {
        margin: .5%  !important;
        width: 99%  !important;
    }
    .activity-stream-email-iframe {
        height: 100% !important;
        margin: auto;
    }
}